<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@700&family=Work+Sans:ital,wght@0,300;0,700;1,100;1,200&display=swap"
        rel="stylesheet">

    <link href="../styles/style.css" rel="stylesheet">
    <title>Wade</title>
</head>

<body>
    <h1>About
    </h1>
    <img id="blue" src="../images/blue.jpg" alt="blue image" width=100% height=auto>
    <p> My name is Wade and I apprecaite you coming to my site.

        <!--    Javascript embedded -->
    <p>Here are some of my links:
    <ul class="link"><a href="https://www.twitch.tv/wadethestruggler">twitch</a></ul>
    <ul class="link"><a href="https://twitter.com/wadestruggler">Twitter</a></ul>
    <ul class="link"><a href="https://wadestruggler.substack.com/p/coming-soon?showWelcome=true">Substack</a></ul>
    </p>
    <a class="goback" href="index.html">Go back to the home page</a>

    <!--    Javascript embedded -->
    <script src="scripts/main.js"></script>
</body>
<footer>Wade &#174</footer>

</html>