<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--    google fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Fredoka:wght@700&family=Work+Sans:ital,wght@0,300;0,700;1,100;1,200&display=swap"
        rel="stylesheet">

    <link href="../styles/style.css" rel="stylesheet">
    <title>Wade</title>
</head>

<body class="container">
    <!--    Header  -->
    <h1>Welcome To My Site</h1>
    <!--    Index page image  -->
    <img id="orange" src="../images/orange.jpg" alt="orange image" width=100% height=auto>
    <p> My name is Wade and I apprecaite you coming to my site. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Veniam voluptatibus, incidunt sunt quisquam velit aliquid facilis pariatur est voluptatum nobis expedita impedit
        dolore nostrum alias quod ad totam doloribus voluptatem?
        Nihil, quibusdam aspernatur. Fugit maiores sit veritatis labore, natus neque amet architecto illum tempora est
        recusandae eos error. Minus recusandae ea vero, alias voluptatem laudantium et quisquam nihil officia? Commodi.
        Eos est dicta quibusdam beatae numquam minus, labore sed veritatis placeat voluptatibus dolorum delectus
        voluptates itaque dignissimos velit hic. Expedita cumque incidunt dolorem quam error placeat a beatae labore
        magnam!</p>
    <break>
        <!--    Links to my about page  -->
        <a href="about.html">Here is a link with info about me</a>
    </break>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus est dolorem voluptate facere porro quibusdam
        earum tenetur. Dolorem asperiores tenetur architecto rerum, perspiciatis assumenda, ipsum officia ab sequi, vero
        odit.
        Ad commodi suscipit repellat eius iure fugiat excepturi, tempore rerum! Officiis aperiam corporis ratione
        consequuntur nemo, reprehenderit quo porro nisi ad non voluptates voluptatibus sequi quae vitae ipsum, sapiente
        itaque.
        Sint, sed! Voluptas provident labore illo praesentium ratione excepturi amet laborum dolores quas similique?
        Aliquam amet assumenda, harum, pariatur, architecto consectetur quidem consequatur omnis aperiam debitis porro.
        Rem, laboriosam libero.</p>

    <!--    My links to other sites embedded ejs -->
    <p>Here are some of my links:
    <ul class="link"><a href="https://www.twitch.tv/wadethestruggler">twitch</a></ul>
    <ul class="link"><a href="https://twitter.com/wadestruggler">Twitter</a></ul>
    <ul class="link"><a href="https://wadestruggler.substack.com/p/coming-soon?showWelcome=true">Substack</a></ul>
    </p>
    <!--    Javascript embedded -->

    <script src="../scripts/main.js"></script>
</body>
<footer>Wade &#174</footer>

</html>